[Unit]
Description=Firmware
Wants=NetworkManager.service
After=NetworkManager.service network.target

[Service]
ExecStart=/usr/bin/firmware
Restart=on-failure

[Install]
WantedBy=multi-user.target
